@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    line-height: 1.5;
    --main-content-width: 1216px;
    --main-bg-color: rgb(252, 252, 255);
    --button-color: rgb(225, 229, 240);
    --border-clr: rgb(226, 226, 226);
    --paragrah-clr: rgb(87, 86, 95);
    --border-style: 1px solid var(--border-clr);
    --basic-border-radius: 8px;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

a {
    text-decoration: none;
}
  
ol[role="list"], ul[role="list"], ol, ul {
    list-style: none;
    padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}
  
img {
    display: block;
    max-inline-size: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

/*styling */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: system-ui, Helvetica, "Segoe UI", Roboto,  Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 2rem;
    border-bottom: var(--border-style);
}

.main {
    padding: 1rem 2rem;
    padding-top: 3rem;;
    background-color: var(--main-bg-color);
    flex: 1;
}

.main-content {
    width: min(1216px, 100%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.library-title {
    font-size: 3rem;
    font-weight: 500;
    align-self: center;
    margin-bottom: 1rem;
}

.menu {
    display: flex;
    align-items: center;
}

.search {
    flex:1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search input[type="search"]{
    width: 30%;
    padding: 0.5em;
    font-size: 1rem;
}

button {
    padding: 0.5em 2em;
    background-color: var(--button-color);
    border-radius: var(--basic-border-radius);
    font-weight: 600;
    color: var(--paragrah-clr)
}

.search input[type="search"],
.library {
    border-radius: var(--basic-border-radius);
    border: var(--border-style);
    box-shadow: 1px 1px 4px var(--border-clr);
}


.library {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: white;
}

.book {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.book h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.book .book-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.book > h2 + div,
.book > h2 + div + div,
.book .book-actions > button { 
    font-size: 1rem;
    font-weight: 600;
    color: var(--paragrah-clr)
}

.book:not(:last-child){
    border-bottom: var(--border-style);
}

.is-read {
    border: 1px solid green;
}
